node_modules
vendor
.git
.env
public/storage
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
npm-debug.log
.phpunit.result.cache
tests
docker-compose.yml
Dockerfile
build_log.txt
